<div class="well">
    <h2>Table title</h2>
    <!--<form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>-->
</div>

<div class="jumbotron">
    <!--{{ api.length }}
    <ul ng-repeat="product in api">
        <li>{{ product.name }}</li>
    </ul>

    <ul>
        <li ng-repeat="(key,val) in cols">{{key}}: {{val}}</li>
    </ul>-->
    <!--<ul ng-repeat="col in cols ">
        <li>{{ col.name }}</li>
    </ul>-->
    <table class="table">
        <thead>
        <tr>
            <th ng-repeat="(key,val) in api[0]">{{key}}</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="product in api">
            <td ng-repeat="(key,val) in api[$index]"> {{ val }}</td>
            <td>
                    <button class="btn btn-primary btn-xs">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    |
                    <button class="btn btn-danger btn-xs">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </td>
        </tr>
        </tbody>
    </table>
    <!--<table class="table ">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Rahim</td>
                <td>rahim@gmail.com</td>
                <td>12345678</td>
                <td>
                    <button class="btn btn-primary btn-xs">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    |
                    <button class="btn btn-danger btn-xs">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </td>
            </tr><tr>
                <td>Karim</td>
                <td>karim@gmail.com</td>
                <td>12345678</td>
                <td>
                    <button class="btn btn-primary btn-xs">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    |
                    <button class="btn btn-danger btn-xs">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>-->
</div>