<!DOCTYPE html>
<html lang="en" ng-app="angcrud">
<head>
    <meta charset="UTF-8">
    <title>AngCRUD</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
</head>
<body ng-controller = "ProductController">
    <div class="container">
        <crud-table api="products"  cols="{name:'HTML5', email:'AngularJS', age:'Javascript'}"></crud-table>
    </div>

    <!--<div >
        <ul ng-repeat="product in products">
            <li>{{ product.name }}</li>
        </ul>
    </div>-->

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="js/angcrud.js"></script>
    <script src="js/directives/angcrud.directives.js"></script>
    <script src="js/services/product.services.js"></script>
    <script src="js/controllers/product.controllers.js"></script>
</body>
</html>